.add-post-div {
    display: flex;
}

.submit-button {
    width: 30%;
}

.add-post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

textarea {
    height: 300px;
    width: 80%;
}

.form-input {
    width: 80%;
    border: 1px solid grey;
    height: 20px;
}


.file-upload-button {
    width: 30%;
}


.tags-pallete {
    display: flex;
    flex-direction: row;
}