.add-post-div {
    display: flex;
    
    
}

.add-post-form {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

textarea {
    height: 500px;
    width: 80%;
}

.form-input {
    width: 80%;
    border: 1px solid grey;
    height: 20px;
}

button {
    width: 30%;
}

.file-upload-button {
    width: 30%;
}

.bold-item {
    width: 15%;
}