.description-item h3 {
    display: flex;
    justify-content: center;
}

.description-item {
    width: 80%;
    justify-content: center;
    padding-left: 20%;
    padding-top: 10px;
    padding-bottom: 10px;
}

.insights-item {  
    padding-top: 20px;
}

.features-item {
    padding-top: 20px;
}