* {
    font-family: 'Merriweather', serif;
    box-sizing: border-box;
}

hr.style1 {
    border-top: 1px solid #8c8b8b
}

i {
    font-size: x-large;
}

.stack-main {
    padding-left: 10%;
    padding-right: 10%;
}

/* .tech-header {
    display: flex;
    flex-direction: row;
} */

.flex1 {
   display: grid;
   grid-template-columns: 1fr 1fr; 
}

.portolio-image {
    justify-content: center;
    padding-top: 0.5%;
}

.portolio-image img{
    min-width: 10%;
    max-height: 100%;
    min-width: 10%;
    padding: 5px;
    border: 5px solid #e2e8f0;
}

.top {
    display: flex;
    flex-direction: row;
    
}

.left {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width:620px) {
    /* For mobile phones: */
    .flex {
        display: flex;
        flex-direction: column;
    }

    .ulmed {
        padding-left: 0%;
        margin-left: 0;
    }

    .tech-left {
        padding-left: 0%;
    }

    .left {
        display: flex;
        flex-direction: column;
        padding-left: 1%;
        
    }
    .porfolio-image { 
        min-width: 50px;
  }
}
